#custom_register_form{
    display: flex;
    flex-wrap: wrap;
}
#custom_register_form .elementor-button{
    font-family: "Roboto", Sans-serif;
    font-weight: 500;
    background-color: #61ce70;
    border: none;
}

.form-group{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.form-group span.optional{
    display: none;
}
.form-group h2{
    width: 100%;
    flex-basis: 100%;
}
.col-50{
    width: 50%;
    flex-basis: 50%;
}
.col-100{
    width: 100%;
    flex-basis: 100%;
}

#custom_register_form input{
    color: #7a7a7a;
    background-color: #ffffff;
}

.label-left label{
    width: 30%;
    flex-basis: 30%;
}
.label-left input, .label-left select, .label-left .woocommerce-input-wrapper{
    width: auto;
    flex-basis: auto;
    flex-grow: 1;
    display: block;
}
.label-left .woocommerce-input-wrapper input, .label-left .woocommerce-input-wrapper select{
    width: 100%;
    flex-basis: 100%;
}
.label-top label{
    width: 100%;
    flex-basis: 100%;
}
.label-top input, .label-top select, .label-top .woocommerce-input-wrapper{
    width: 100%;
    flex-basis: 100%;
    display: block;
}
.form-group p.form-control{
    width: 100%;
    flex-basis: 100%;
    display: flex;
    flex-wrap: wrap;
}
#custom_register_form .custom-parent{
    width: 24%;
    flex-basis: 24%;
    margin-bottom: 1rem;
}
#custom_register_form .custom-parent img{
    width: 100%;
}
#custom_register_form .button{
    border: 0;
    cursor: pointer;
    padding: .6180469716em 1.41575em;
    text-decoration: none;
    font-weight: 600;
    text-shadow: none;
    outline: 0;
    -webkit-appearance: none;
    border-radius: 0;
    width: 50%;
    display: block;
}

@media all and (max-width: 768px){
    #custom_register_form .custom-parent{
        width: 49%;
        flex-basis: 49%;
        margin-bottom: 1rem;
    }
    #custom_register_form .button{
        width: 50%;
    }
}